# admin
ADMIN_NAME=xxx
ADMIN_EMAIL=xxx

# DB url
DATABASE_URL = xxx
REDIS_URL = xxx

SALT=xxx
SECRET_KEY=xxx
ALGORITHM = xxx
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAY=2


# Email settings
MAIL_USERNAME =xxx                                              # This can be a display name, not necessarily an email address
MAIL_PASSWORD =xxx                                               # Use an App Password, not your real password
MAIL_FROM =xxx
MAIL_PORT =xxx
MAIL_SERVER =xxx
MAIL_FROM_NAME ="AI HealthCare APP"


REACT_URI="http://localhost:5500"
BACKEND_URI="http://localhost:8000"

